# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.
# -*- mode: yaml -*-

jobs:
- job: linux
  pool:
    vmImage: ubuntu-latest
  strategy:
    matrix:
      linux_64_cdt_namecos6cuda_compiler_version10.0:
        CONFIG: linux_64_cdt_namecos6cuda_compiler_version10.0
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-cos7-cuda:10.0
      linux_64_cdt_namecos6cuda_compiler_version10.1:
        CONFIG: linux_64_cdt_namecos6cuda_compiler_version10.1
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-cos7-cuda:10.1
      linux_64_cdt_namecos6cuda_compiler_version10.2:
        CONFIG: linux_64_cdt_namecos6cuda_compiler_version10.2
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-cos7-cuda:10.2
      linux_64_cdt_namecos6cuda_compiler_version9.2:
        CONFIG: linux_64_cdt_namecos6cuda_compiler_version9.2
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-cos7-cuda:9.2
      linux_64_cdt_namecos7cuda_compiler_version11.0:
        CONFIG: linux_64_cdt_namecos7cuda_compiler_version11.0
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-cuda:11.0
      linux_64_cdt_namecos7cuda_compiler_version11.1:
        CONFIG: linux_64_cdt_namecos7cuda_compiler_version11.1
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-cuda:11.1
      linux_64_cdt_namecos7cuda_compiler_version11.2:
        CONFIG: linux_64_cdt_namecos7cuda_compiler_version11.2
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-cuda:11.2
      linux_64_cdt_namecos7cuda_compiler_version11.3:
        CONFIG: linux_64_cdt_namecos7cuda_compiler_version11.3
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-cuda:11.3
      linux_64_cdt_namecos7cuda_compiler_version11.4:
        CONFIG: linux_64_cdt_namecos7cuda_compiler_version11.4
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-cuda:11.4
      linux_64_cdt_namecos7cuda_compiler_version11.5:
        CONFIG: linux_64_cdt_namecos7cuda_compiler_version11.5
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-cuda:11.5
      linux_64_cdt_namecos7cuda_compiler_version11.6:
        CONFIG: linux_64_cdt_namecos7cuda_compiler_version11.6
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-cuda:11.6
      linux_64_cdt_namecos7cuda_compiler_version11.7:
        CONFIG: linux_64_cdt_namecos7cuda_compiler_version11.7
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-cuda:11.7
      linux_aarch64_cuda_compiler_version11.0:
        CONFIG: linux_aarch64_cuda_compiler_version11.0
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-aarch64-cuda:11.0
      linux_aarch64_cuda_compiler_version11.1:
        CONFIG: linux_aarch64_cuda_compiler_version11.1
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-aarch64-cuda:11.1
      linux_aarch64_cuda_compiler_version11.2:
        CONFIG: linux_aarch64_cuda_compiler_version11.2
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-aarch64-cuda:11.2
      linux_aarch64_cuda_compiler_version11.3:
        CONFIG: linux_aarch64_cuda_compiler_version11.3
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-aarch64-cuda:11.3
      linux_aarch64_cuda_compiler_version11.4:
        CONFIG: linux_aarch64_cuda_compiler_version11.4
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-aarch64-cuda:11.4
      linux_aarch64_cuda_compiler_version11.5:
        CONFIG: linux_aarch64_cuda_compiler_version11.5
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-aarch64-cuda:11.5
      linux_aarch64_cuda_compiler_version11.6:
        CONFIG: linux_aarch64_cuda_compiler_version11.6
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-aarch64-cuda:11.6
      linux_aarch64_cuda_compiler_version11.7:
        CONFIG: linux_aarch64_cuda_compiler_version11.7
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-aarch64-cuda:11.7
      linux_ppc64le_cuda_compiler_version10.2:
        CONFIG: linux_ppc64le_cuda_compiler_version10.2
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-ppc64le-cuda:10.2
      linux_ppc64le_cuda_compiler_version11.0:
        CONFIG: linux_ppc64le_cuda_compiler_version11.0
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-ppc64le-cuda:11.0
      linux_ppc64le_cuda_compiler_version11.1:
        CONFIG: linux_ppc64le_cuda_compiler_version11.1
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-ppc64le-cuda:11.1
      linux_ppc64le_cuda_compiler_version11.2:
        CONFIG: linux_ppc64le_cuda_compiler_version11.2
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-ppc64le-cuda:11.2
      linux_ppc64le_cuda_compiler_version11.3:
        CONFIG: linux_ppc64le_cuda_compiler_version11.3
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-ppc64le-cuda:11.3
      linux_ppc64le_cuda_compiler_version11.4:
        CONFIG: linux_ppc64le_cuda_compiler_version11.4
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-ppc64le-cuda:11.4
      linux_ppc64le_cuda_compiler_version11.5:
        CONFIG: linux_ppc64le_cuda_compiler_version11.5
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-ppc64le-cuda:11.5
      linux_ppc64le_cuda_compiler_version11.6:
        CONFIG: linux_ppc64le_cuda_compiler_version11.6
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-ppc64le-cuda:11.6
      linux_ppc64le_cuda_compiler_version11.7:
        CONFIG: linux_ppc64le_cuda_compiler_version11.7
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-ppc64le-cuda:11.7
  timeoutInMinutes: 360

  steps:
  - script: |
         rm -rf /opt/ghc
         df -h
    displayName: Manage disk space

  # configure qemu binfmt-misc running.  This allows us to run docker containers
  # embedded qemu-static
  - script: |
      docker run --rm --privileged multiarch/qemu-user-static:register --reset --credential yes
      ls /proc/sys/fs/binfmt_misc/
    condition: not(startsWith(variables['CONFIG'], 'linux_64'))
    displayName: Configure binfmt_misc

  - script: |
        export CI=azure
        export GIT_BRANCH=$BUILD_SOURCEBRANCHNAME
        export FEEDSTOCK_NAME=$(basename ${BUILD_REPOSITORY_NAME})
        if [[ "${BUILD_REASON:-}" == "PullRequest" ]]; then
          export IS_PR_BUILD="True"
        else
          export IS_PR_BUILD="False"
        fi
        .scripts/run_docker_build.sh
    displayName: Run docker build
    env:
      BINSTAR_TOKEN: $(BINSTAR_TOKEN)
      FEEDSTOCK_TOKEN: $(FEEDSTOCK_TOKEN)
      STAGING_BINSTAR_TOKEN: $(STAGING_BINSTAR_TOKEN)